body {
    background-color:cornflowerblue;
    display: -ms-inline-flexbox;
}

#main {
    margin-top: 50px;
}


#nav-bar {
    position: fixed;
    justify-content: space-around;
    background: lightcyan;
    width: 100%;
    height: auto;
  }
ul li {
  display: inline-flex;
}

@media (max-width: 100px) {
    
    #header {
      font-size: 100%;
    }
  }



  #home {
      text-align: center;
      height: 50vh;
  }

  #contact {
      height: 50vh;
  }