body {
    background-color: aqua;
}


#navbar {

    position: fixed;
  
    
  }
@media (max-width: 80em) {
    
    html {
      font-size: 100%;
    }
  }

  #header {
      display: flex;
  }

  #home {
      text-align: center;
      height: 50vh;
  }